<div class="homePage">
<pageTitle>ホーム画面</pageTitle>

<br>
<font size="7">
こんにちは &#x1F4A2;&#x1F4A2;
</font>
<br>
&ensp;

<div>
<%= link_to 'New post', "posts/new", class: "btn_05" %>
</div>

&ensp;

<h1>投稿一覧</h1>

 <% @posts.each do |post| %>
 <br>
    &ensp;
    <span>
        <div class="buttonArray">
            <%= post.body %>
            &ensp;
            <%= link_to '詳細', post_path(post.id), class: "btn_06" %>
        </div>
    </span>
 <% end %>
 </div> 