<div class="homePage">
<pageTitle>ホーム画面</pageTitle>

<br>
<font size="7">
こんにちは &#x1F4A2;&#x1F4A2;
</font>
<br>
&ensp;

<div>
<%= link_to 'New post', "posts/new", class: "btn_05" %>
</div>

&ensp;

<div>
<%= link_to 'ユーザ一覧はこちら', "users/index", class: "btn_09" %>
</div>

&ensp;

<h1>投稿一覧</h1>

&ensp;
<%= render "posts/overview", posts: @posts%>

</div> 
