<div class="homePage">
<pageTitle>ホーム画面</pageTitle>

<br>
<font size="7">
こんにちは &#x1F4A2;&#x1F4A2;
</font>
<br>

<div class="buttonArray">
<% if user_signed_in? %>
    <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn_03" %> <!-- link_to は HTTPメソッド get になっているから、明示的に get から delete に変えないといけない-->

<% else %>
    <%= link_to 'Sing up', new_user_registration_path, class: "btn_01" %>
    &ensp;
    <%= link_to 'Log in', new_user_session_path, class: "btn_02" %>

<% end %>
</div>

<div>
&ensp;
<h1>投稿一覧</h1>

 <% @posts.each do |post| %>
    <p>タイトル</p>
    <span><%= post.title %></span>
 <% end %>
 </div> 

 </div>